/* 
Autor: Roldan Nicolás Mario Jesús
Fecha: 29-03-2024
Descripción: Este archivo CSS contiene los estilos para el sitio index.html.
 */

:root {
    --primary-color: #0B0033;
    --bg-color: #00000059;
    --secondary-color: #2B59C3;
    --third-color: #CAE5FF;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font: "Bebas Neue", Arial;
    --secondary-font: "Wix Madefor Text", Arial;
}



body {
    background-image: linear-gradient(to right, #0b0033, #131953, #1f2c76, #27429c, #2b59c3);
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    max-width: 100vw;
    min-height: 100vh;
}

.contenedor header {
    background-color: var(--bg-color);
    width: 100%;
    height: 10vh;
}

.contenedor header nav {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contenedor header .return {
    color: var(--third-color);
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    padding: 2%;
}

.contenedor header nav .return:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.contenedor header .header-name {
    text-decoration: none;
    transition: color 0.3s;
    margin-left: 2%;
    color: var(--third-color);
}

.contenedor header .header-name:hover {
    color: var(--secondary-color);
}

.contenedor main {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contenedor main .carousel {
    width: 80%;
    height: 80%;
}

.contenedor main .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 50;
}

.contenedor main .carousel .text {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.contenedor main .carousel .text p {
    z-index: 40;
    padding: 2%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid var(--third-color);
    border-radius: 15px;
    background-color: var(--secondary-color);
    color: var(--third-color);
    opacity: 0;
    transition: opacity 0.5s;
}

.contenedor main .carousel .text p:hover {
    opacity: 0.8;
}